html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures consistent box-sizing across elements */
}

body {
    height: 100vh; /* Full viewport height */
}

header {
    width: 100%;
}

div#content {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    padding: 10px;
}

/* Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    z-index: 1000; /* Ensure it's on top */
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Horizontally center children */
    align-items: center; /* Vertically center children */
}

#form-div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}
